extends layout
block page
  - var menu = 'edit'
block content
  
    h2 Add a Book
    div= error
    div.col-md-8
      form(action="/admin/books/" + book.isbn, method="POST", role="form")
        div.form-group
          label(for="slug") ISBN
          input#isbn.form-control(name="isbn", type="text", placeholder="ISBN", value=book.isbn)
        div.form-group
          label(for="text") Price
          input#price.form-control(rows="5", type="number", name="price", placeholder="Price", value=book.price)
        div.form-group
          label(for="text") Stock
          input#stock.form-control(rows="5", type="number", name="stock", placeholder="Stock", value=book.stock)
        p
          button.btn.btn-primary(type="submit") Update
