extends layout
block page
  - var menu = 'admin'
block content
  if !admin
    a(href="/admin/login") Login
    |  to see books.
  else 
    each book in books
      div
        h2
          a(href="/admin/books/" + book.isbn)= book.title
          div
            a(class="btn btn-primary", href="/admin/books/" + book.isbn + "/edit") Edit
          form(action="/admin/books/" + book.isbn + "/delete", method="POST", role="form")
            button.btn.btn-danger(type="submit") Delete
