.menu
  ul.nav.nav-pills
    li(class=(menu === 'home')?'active':'')
      a(href='/',) Home
    if (admin)
      li(class=(menu === 'new')?'active':'')
        a(href="/admin/books/new") Add Book
      li
        a(href="/admin/logout") Log out
    else
      li(class=(menu === 'login')?'active':'')
        a(href='/admin/login') Login
      li(class=(menu === 'signup')?'active':'')
        a(href='/admin/signup') Sign up
    li(class=(menu === 'admin')?'active':'')
      a(href='/admin') Admin System
