extends layout
block page
  - var menu = 'new'
block content
  
    h2 Add a Book
    div= error
    div.col-md-8
      form(action="/admin/books", method="POST", role="form")
        div.form-group
          label(for="slug") ISBN
          input#isbn.form-control(name="isbn", type="text", placeholder="ISBN")
        div.form-group
          label(for="text") Price
          input#price.form-control(rows="5", type="number", name="price", placeholder="Price")
        div.form-group
          label(for="text") Stock
          input#stock.form-control(rows="5", type="number", name="stock", placeholder="Stock")
        p
          button.btn.btn-success(type="submit") Add
