extends layout
block page
  - var menu = 'signup'
block content
  .col-md-4.col-md-offset-4
    h2 Sign up
    div= error
    div
      form(action="/admin/signup", method="POST")
        p
          input.form-control(name="name", type="text", placeholder="Name")
        p
          input.form-control(name="email", type="email", placeholder="Email")
        p
          input.form-control(name="password", type="password", placeholder="Password")
        p
          button.btn.btn-lg.btn-success.btn-block(type="submit") Sign up
