extends layout
block page
  - var menu = 'cart'
block content
    if books
        each book in books
          div
            h2
              = book.title + " (" + (book.quantity) + ")"
              form(action="/books/" + book.isbn + "/remove", method="POST", role="form")
                button.btn.btn-primary(type="submit") Remove from cart
            form(action="/books/" + book.isbn + "/checkout", method="POST", role="form")
                button.btn.btn-success(type="submit") Checkout
