extends layout
block page
  - var menu = 'home'
block content
  if !customer
    a(href="/login") Login
    |  to see books.
  else 
    each book in books
      div
        h2
          a(href="/books/" + book.isbn)= book.title
          form(action="/books/" + book.isbn, method="POST", role="form")
            button.btn.btn-primary(type="submit") Add to cart