extends layout
block page
  - var menu = 'login'
block content
  .col-md-4.col-md-offset-4
    h2 Login
    div= error
    div
      form(action="/login", method="POST")
        p
          input.form-control(name="email", type="text", placeholder="Email")
        p
          input.form-control(name="password", type="password", placeholder="Password")
        p
          button.btn.btn-lg.btn-primary.btn-block(type="submit") Login
