.menu
  ul.nav.nav-pills
    li(class=(menu === 'home')?'active':'')
      a(href='/') Home
    if (customer)
      li(class=(menu === 'cart')?'active':'')
        a(href="/cart") Cart
      li
        a(href="/logout") Log out
    else
      li(class=(menu === 'login')?'active':'')
        a(href='/login') Login
      li(class=(menu === 'signup')?'active':'')
        a(href='/signup') Sign up
    li(class=(menu === 'admin')?'active':'')
      a(href='/admin') Admin System
